* {
  font-family: 'Inter', sans-serif;
}

body {
  background: #6E7788;
  color: #eee; 
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
  border-radius: 0.25em;
  box-shadow: 0.25em 0.25em 0.375em rgba(29, 31, 34, 0.8);
  background:#3E4756;
}

.error {
  color: #EBA099;
  font-size: 0.875em;
}


button {
  text-decoration: none;
  background: #00C6BA;
  color: #eee;
  font-weight: bold;
  border: 0;
  border-radius: 0.25em;
  padding: 10px 20px;
  cursor: pointer;
}